html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 15px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
@media all and (min-width: 0px) {
  body {
    background-color: #19070b;
  }

  .main {
    width: 100%;
    height: 100%;
  }

  .servicos {
    width: 100%;
  }

  .aside {
    display: none;
  }

  .main > .voltar-menu {
    display: block;
    text-align: center;
    padding: 5px;
    margin: auto;
    border: 2px solid #f7f2e0;
    border-radius: 10px 0px;
    width: 30%;
    max-width: 150px;
    text-decoration: none;
    color: #f7f2e0;
    font-size: 20px;
  }

  .main > .voltar-menu > i {
    font-size: 20px;
    margin: 10px;
  }

  .main > .voltar-menu:hover {
    background-color: #f7f2e0;
    color: #19070b;
    border: 2px solid #19070b;
  }
}

@media all and (min-width: 1024px) {
  .main {
    position: absolute;
    left: 25%;
    top: 0px;
    width: 75%;
    height: 100%;
    background-color: #19070b;
  }

  .main > .voltar-menu {
    display: none;
  }

  .servicos {
    width: 100%;
  }

  .servicos > div {
    transition-property: transform;
    transition-duration: 2s;
  }

  .servicos > div:hover {
    transform: translateX(100px);
    font-weight: bold;
  }

  .aside {
    background-color: #f7f2e0;
    width: 25%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px auto 100px;
    grid-template-areas:
      "logo"
      "menu"
      "footer";
  }

  .logo {
    margin-top: 20px;
    grid-area: "logo";
    justify-self: center;
    align-self: center;
  }

  .menu {
    margin-top: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;

    grid-area: "menu";

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  a {
    box-sizing: border-box;
    padding: 25px;
    color: #19070b;
    text-decoration: none;
  }

  .aside > .menu > a:hover {
    background-color: #19070b;
    color: white;
  }

  .footer {
    grid-area: "footer";
    text-align: center;
    padding-top: 20px;
  }

  .footer > a {
    padding: 0;
  }

  .footer > a > i {
    font-size: 40px;
    margin: 0px 20px;
  }
}

.servicos > h1 {
  padding: 20px;
  font-size: 40px;
  text-align: center;
  color: #f7f2e0;
}

.servicos > div {
  background-color: #f7f2e0;
  margin: 30px auto;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  color: #19070b;
}
